body {
  font-family: 'Poppins', sans-serif;
  max-width: 75ch;
  margin: auto;

  font-weight: 300;
  @apply text-gray-600 text-lg;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  @apply text-gray-800 font-bold;
}
h1,
h2 {
  @apply text-2xl;
}
a {
  @apply text-orange-600;
}
a:hover {
  @apply underline underline-offset-4 decoration-2;
}
main p {
  @apply my-2;
}
main h1, main h2 {
  @apply mt-5 mb-3;
}