@keyframes fade-in-custom {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}
#popup {
  animation: fade-in-custom;
  animation-timeline: scroll();
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#popup-2 {
  animation: fade-in;
  animation-timeline: scroll();
  animation-range: 0% 20%;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#progress {
  animation: progress;
  animation-timeline: scroll();
}

@keyframes fade-in-late {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
#surprise {
  animation: fade-in-late;
  animation-timeline: view();
}

@keyframes bg {
  from {
    background: #fffbeb;
  }
  to {
    background: #f0fdf4;
  }
}
#bg {
  animation: bg;
  animation-timeline: scroll();
}

@keyframes parallax {
  from {
    transform: translateY(0);
  }
  40% {
    transform: translateY(200px);
  }
}
#parallax {
  animation: parallax;
  animation-timeline: scroll();
}
