<footer class="my-8 flex flex-wrap items-center gap-4">
  <h3>Links:</h3>
  <nav class="flex flex-wrap gap-4">
    <a href="https://github.com/JuhG/juhg.hu" target="_blank">Source of this site</a>
    <a href="https://github.com/JuhG" target="_blank">GitHub</a>
    <a href="https://twitter.com/juhgabor" target="_blank">Twitter</a>
    <a href="mailto:me@juhg.hu">me@juhg.hu</a>
  </nav>
</footer>