---
  export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
    active?: boolean;
  }

  const { active, class: className, ...props } = Astro.props;
---

<a class={className + ' ' + (active ? 'font-bold' : '' )} {...props}>
  <slot />
</a>