---
  import HeaderLink from "./HeaderLink.astro";
  import { SITE_TITLE, SITE_DESCRIPTION } from "src/config";

  const HeaderTag = Astro.url.pathname === '/' ? 'h1' : 'h2';
---

<header class="flex flex-col gap-2 mb-4">
  <div class="flex flex-wrap justify-between gap-4">
    <HeaderTag>{SITE_TITLE}</HeaderTag>
    <nav class="flex gap-4">
      <HeaderLink active={ Astro.url.pathname==='/' } href="/">Home</HeaderLink>
      <HeaderLink active={ Astro.url.pathname.includes('blog') } href="/blog">Blog</HeaderLink>
      <HeaderLink active={ Astro.url.pathname==='/about' } href="/about">About</HeaderLink>
    </nav>
  </div>
  <p class="text-xl mb-4">{SITE_DESCRIPTION}</p>
</header>