:root {
  --bg: #eeeeee;
  --black: #382a2c;
  --base: 1.2rem;
  --c1: #e06900;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: var(--base);
}

body {
  font-family: 'Space Mono', monospace;
  color: var(--black);
  background: var(--bg);
}

.dd-title {
  @apply text-2xl;

  @screen sm {
    @apply text-3xl;
  }
}

.dd-editor {
  h1 {
    @apply dd-title;
  }
  h2 {
    @apply dd-title;
  }
  h3 {
    @apply text-xl;

    @screen sm {
      @apply text-2xl;
    }
  }
  h1,
  h2,
  h3 {
    @apply font-bold mt-8 mb-4;
  }

  p,
  ul {
    @apply my-4;
  }

  em {
    font-style: unset;
    color: var(--c1);
  }

  hr {
    @apply mt-4 mb-8 border-b-2;
    border-color: var(--c1);
    opacity: 0.2;
  }

  a {
    @apply font-bold;
    color: var(--c1);
  }

  code {
    @apply bg-gray-100 px-2 py-1;
  }
}

.dd-content {
  @apply px-4 max-w-3xl mx-auto;

  @screen sm {
    @apply px-8;
  }
}

.dd-image {
  @media (max-width: 640px) {
    width: 100% !important;
  }
}

.dd-button {
  background: var(--c1);
  @apply py-2 px-3 text-white rounded font-bold;
}
