*, *:before, *:after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d3038;
  color: #eeeeee;
  font-weight: 300;
  line-height: 1;
  font-size: 24px;
}

h1 {
  font-weight: inherit;
  font-size: 50px;
  margin-bottom: 3vmax;
}

@media (max-width: 750px) {
  body {
    font-size: 20px;
  }
  h1{
    font-size: 30px;
  }
}

a {
  position: static;
  color: #06cbf6;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}
