*, *:before, *:after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: inherit;
}

body {
  background-color: #2d3038;
  color: #eeeeee;
  font-weight: 300;
}

@media (min-width: 750px) {
  body {
    font-size: 24px;
  }
}

a {
  position: static;
  color: #06cbf6;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}
