---
import { Footer } from "~/components/Footer";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Personal space of Gabor Juhasz" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#d97706" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={title} />
    <meta property="twitter:title" content={title} />
    <meta property="og:image" content="https://juhg.hu/seo.png" />
    <meta name="twitter:image" content="https://juhg.hu/seo.png" />
    <title>{title}</title>
    <style>
      .prose {
        --tw-prose-bold: inherit;
      }
    </style>
  </head>
  <body class="prose prose-lg prose-amber max-w-none pt-[5vw] prose-h1:text-3xl prose-h2:text-2xl">
    <div class="mx-auto max-w-3xl p-6 sm:p-8">
      <slot />
    </div>
    <Footer />
  </body>
</html>
